@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-BoldItalic.woff2') format('woff2'),
    url('JetBrainsMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.title {
  font-family: var(--main_font);
  font-weight: bold;
}
h1.title {
  font-size: 2rem;
  line-height: 1.35;
}
h2.title {
  font-size: 1.5rem;
  line-height: 1.3;
}
